@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
div {
    
    
    font-size: 1.5rem;
}
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 2fr 3fr;
    background-color: #15616d;
    color: #ffecd1;
}
#search {
    width: 80%;
}
body > div > div.header > div.top-header > div.top-header-input > label {
    width: 36px;
}
.top-header {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.top-header-input,
.top-header-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;

}


.bottom-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 3fr 5fr 7fr;
    background-color: #001524;
    color: #ffecd1;
    padding: 0 0 0 10%;
}
ul {
    list-style-type: none;
}
.sidebar__logo {
    display: flex;
    align-items: center;
}
.sidebar__logo-xml {

    width: 30%;
    fill: #ffecd1;
}
.sidebar__icon-xml{
    fill: #ffecd1;
    width: 10%;
    min-width: 32px;
}
.sidebar__logo-text {
    font-family: "Bebas Neue", serif;
    display: inline;
    font-size: 2.7vw;
    margin-bottom: 5px;
    color: #ffecd1;
}
.sidebar__logo-flex {
    display: flex;
    align-items: end;
}
ul li {
    display: flex;
    align-items: flex-end;
    gap: 4px;
}
.main-container {
    display: grid;
    grid-template-rows: 1fr 9fr 10fr;
    grid-template-columns: 15fr 6fr;
    padding: 15px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-row: 2 / 4;
}
.main-container > .announcements {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 4px;
    
    
}
.main-container > .Trending {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding: 4px;
}